!!! html5
%html
  %head
    %title BeerOff
    = include_gon(watch: true)
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Acme', rel: 'stylesheet', type: 'text/css' } 
  
  %body
    %header
      .container
        %span{ 'data-no-turbolink' => true }= link_to 'BeerOff', root_path, class: 'brand'
        %ul.nav
          %li= link_to 'About', '#'
          %li= link_to 'FAQ', '#'
          %li
            = form_tag root_path do
              = text_field_tag :query
              = submit_tag 'Search', class: 'submit'
        .clear
        
    .content
      .container
        = yield