!!! html5
%html
  %head
    %title BeerOff
    = include_gon(watch: true)
    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => false
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Acme', rel: 'stylesheet', type: 'text/css' } 
  
  %body
    %header
      .container
        %span{ 'data-no-turbolink' => true }= link_to 'BeerOff', root_path, class: 'brand'
        %ul.nav
          %li= link_to 'Beers', beers_path
          %li= link_to 'Breweries', breweries_path
        
    .content
      .container
        = yield